.home {
    margin: 0;
    /* width: auto;
    height: 92.5vh; */
    background-image: url("../img/background.jpg");
    width: 100%;
    height: 100vh;
    max-width: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#home_title {
    text-align: center;
    margin-top: 0;
    padding-top: 180px;
    padding-bottom: 130px; 
    font-size: 60px;
    color: black;
}

#start_button {
    padding: 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: purple;
    display: block;
    width: 150px;
    margin:auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 3px 3px gray;
}