.home {
    margin: 0;
    width: auto;
    height: 91.5vh;
    background-image: url("../img/background.jpg");
    background-repeat : no-repeat;
    background-size : cover;
    z-index: 2;
}

#home_title {
    text-align: center;
    margin-top: 0;
    padding-top: 180px;
    padding-bottom: 130px; 
    font-size: 60px;
    color: black;
}

#start_button {
    padding: 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    background-color: purple;
    display: block;
    width: 100px;
    margin:auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 3px 3px gray;
}