.recommend {
    margin: 0;
    width: auto;
    height: 100vh;
    background-image: url("../img/food-tray.jpg");
    background-repeat : no-repeat;
    background-size : cover;
}

.recommend-question {
    text-align: center;
    margin-top: 0;
    padding-top: 180px;
    padding-bottom: 130px; 
    font-size: 60px;
    color: black;
}

#recommend-result {
    text-align: center;
    margin-top: 0;
    padding-top: 180px;
    padding-bottom: 130px; 
    font-size: 60px;
    color: black;
}

.choose-buttons {
    display: grid;
    grid-gap: 30px;
    width: 50%;
    margin: auto;
    height: 70px;
}

.type {
    grid-template-columns: repeat(5, 1fr);
}

.taste {
    grid-template-columns: repeat(3, 1fr);
}

/* CSS */
.choose-button {
  background-color: #00a0d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'BMJUA', system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 25px;
  font-weight: 400;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.choose-button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.choose-button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

#rechoice-button-div {
    margin: auto;
    text-align: center;
}

#rechoice-button-div .choose-button {
    margin: 10px;
}